@import "tailwindcss";
/* Custom styles */
.bg-primary {
  background-color: #5f6fff;
}

.text-primary {
  color: #5f6fff;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}